*{
    margin: 0;
    padding: 0;
   }
   
   html{
       width: 100vw;
       height: 100vh;
   }
   
   /* CSS which you need for blurred box */
   body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url(http://bit.ly/2gPLxZ4);
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
     font-weight: 400;
    -webkit-font-smoothing: antialiased; 
   }
   
   .blurred-box{
     position: relative;
     width: 270px;
     height: 400px;
     top: calc(50% - 175px);
     left: calc(50% - 125px);
     background: inherit;
     border-radius: 2px;
     overflow: hidden;
   }
   
   .blurred-box:after{
    content: '';
    width: 310px;
    height: 400px;
    background: inherit; 
    position: absolute;
    left: -25px;
    left: position;
    right: 0;
    top: -25px;  
    top: position ;
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
    filter: blur(10px);
   }
   
   
   /* Form which you dont need */
   .user-login-box{
     position: relative;
     margin-top: 45px;
     text-align: center;
     z-index: 1;
   }
   .user-login-box > *{
     display: inline-block;
     width: 200px;
   }
   
   .user-icon{
     width: 100px;
     height: 100px;
     position: relative;
     border-radius: 50%;
     background-size: contain;
     background-image: url(avartar.jpg);
     
     
   }
   
   .user-name{
     color: white;
     padding-bottom: 20px;
     padding-top:5px;
     
   }
/*    
   input.user-password{
     width: 120px;
     height: 18px;
     opacity: 0.4;
     border-radius: 2px;
     padding: 5px 15px;
     border: 0;
   }
   .user-login-box input
{
    width: 100%;
    margin-bottom: 20px;
}
 */
 .user-login-box input[type="text"], input[type="password"]
{
  width: 150px;
  height: 20px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
}
.user-login-box a
{
    text-decoration: none;
    font-size: 12px;
    line-height: 22px;
    color: darkgrey;
    position: relative;
    top: 10px;
}
.user-login-box a:hover
{
    color: #ffc107;
}

/* --------------------------------------------------------*/
.user-login-box input[type="submit"]
{
  width: 100px;
  height: 20px;
  opacity: 0.4;
  border-radius: 2px;
  padding: auto;
  border: 0;
  margin-top: 20px;


}
.user-login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
[class*=btn-] {
  width: 90px;
  outline: 0;
  border-radius: 50px;
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow: hidden;
  position: relative;
  padding: 2px 0px;
  margin: 10px; 
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  transition: all 500ms ease-in-out;
}
[class*=btn-]::after, [class*=btn-]::before {
  content: "";
  position: absolute;
}
[class*=btn-]:hover, [class*=btn-]:focus {
  background: rgba(255, 255, 255, 0.8);
}

[class*=btn-mix]::after {
  background: #222;
  border-radius: 120px;
  content: attr(data-text);
  color: #fff;
  padding: 1.6em 2.5em;
  top: 0.4em;
  left: 0.5em;
  -moz-user-select: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
[class*=btn-mix]::before {
  background: transparent;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  box-shadow: 0 1em 2em 3em rgba(255, 50, 0, 0.5), 4em 0em 2em 2em rgba(155, 50, 0, 0.6), -4em -2em 2em 2em rgba(255, 0, 150, 0.5), -4em 2em 2em 4em rgba(0, 0, 150, 0.5), 0 -3em 2em 3em rgba(120, 250, 0, 0.5), 2em -1em 2em 2em rgba(50, 10, 200, 0.5);
  width: 0;
  height: 0;
  -webkit-animation: mix 5s linear infinite;
          animation: mix 5s linear infinite;
}

@-webkit-keyframes mix {
  30% {
    box-shadow: 0 -1em 2em 3em rgba(255, 0, 200, 0.5), 4em -1em 2em 3em rgba(255, 50, 0, 0.8), -4em 2em 3em 2em rgba(155, 200, 0, 0.5), -4em -2em 2em 2em rgba(200, 0, 150, 0.6), 0 3em 2em 2em rgba(20, 250, 0, 0.5), 2em 1em 2em 2em rgba(50, 10, 250, 0.5);
  }
  60% {
    box-shadow: 2em 1em 2em 3em rgba(55, 0, 200, 0.5), 3em 1em 2em 3em rgba(25, 150, 0, 0.6), 3em -2em 3em 3em rgba(155, 200, 0, 0.5), -4em 2em 2em 3em rgba(200, 0, 50, 0.6), 0 -3em 2em 3em rgba(200, 250, 0, 0.5), -2em 1em 2em 3em rgba(50, 210, 250, 0.6);
  }
}

@keyframes mix {
  30% {
    box-shadow: 0 -1em 2em 3em rgba(255, 0, 200, 0.5), 4em -1em 2em 3em rgba(255, 50, 0, 0.8), -4em 2em 3em 2em rgba(155, 200, 0, 0.5), -4em -2em 2em 2em rgba(200, 0, 150, 0.6), 0 3em 2em 2em rgba(20, 250, 0, 0.5), 2em 1em 2em 2em rgba(50, 10, 250, 0.5);
  }
  60% {
    box-shadow: 2em 1em 2em 3em rgba(55, 0, 200, 0.5), 3em 1em 2em 3em rgba(25, 150, 0, 0.6), 3em -2em 3em 3em rgba(155, 200, 0, 0.5), -4em 2em 2em 3em rgba(200, 0, 50, 0.6), 0 -3em 2em 3em rgba(200, 250, 0, 0.5), -2em 1em 2em 3em rgba(50, 210, 250, 0.6);
  }
}
.btn-mix-noborder::after {
  background: transparent !important;
  color: #222 !important;
}
